<!DOCTYPE html>
<html lang="en">
<head>
    
    {{>headerlinks}}
</head>
<body>
  {{!-- {{>navbar}} --}}
   <!-- ---hero section----- -->
   <div class="container-fluid main-header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-12 col-12 main_header_left align-items-center">
                    <figure>
                     <img src="images/error-1.jpg" class="img-fluid" alt="">
                    </figure>
                   {{!-- <h2>There's nothing to see here</h2> --}}
                   <h2>{{errormsg}}</h2>
                   
                   <h3><a href="/">Go back</a></h3>
                </div>
                
            </div>
        </div>
    </div>
   </div>

   <!-- footer -->
   {{!-- {{>footer}} --}}
</body>
</html>